.bottom-navigation-bar-container {
    background-color: #6200EE;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56px;
}

.bottom-navigation-bar-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    align-items: center;
    height: 56px;
    color: #FFF;
}

.bottom-navigation-bar-row .active-icons {
    opacity: 100%;
}

.bottom-navigation-bar-row .inactive-icons {
    opacity: 76%;
}